* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @font-face {
    font-family: font1;
    src: url(fonts/sfcartoonisthandscbold.ttf);
  }
.c-main{
    width:100%;
    height:3000px;
    border:solid 1px;

}
.c1{
    width:100%;
    height:900px;
    border:solid 1px green;

}
.c2{
    width:100%;
    height:800px;
    border:solid 1px red;
    
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}
.c3{
    width:100%;
    height:1000px;
    border:solid 1px blue;

}
#i1{
    border:solid 1px yellow;
    width:100%;
    height:150px;
    background: rgba(10,10,10,0.8);
}
.c1 #i1 ul{
   
    margin-top: 40px;
    width:750px;
    float:right;
}
.c1 #i1 ul li{
    display:inline-block;
    cursor: pointer;
    width:150px;
    height:50px;
    font-size: 25px;
    text-align: center;  
    margin-left:20px; 
    padding-top: 10px;
    border-radius: 10px;
}
.c1 #i1 ul li:first-child{
    display:inline-block;
    cursor: pointer;
    width:150px;
    height:50px;
    font-size: 25px;
    text-align: center;  
    margin-left:0px; 
    border-radius: 10px;
}
.c1 #i1 ul li:hover{
    background: rgba(255, 240, 0, 0.8);
}
.c1 #i1 ul li a{
    text-decoration: none;
    color:white;
    font-family: font1;
    
}
#i2{

    width:100%;
    height:40px;
}
.c1 #i1 img{ 
    width:170px;
    height:130px;
    margin: 7px;
}

#i3{
    background: rgba(200, 200, 200, 0.8);
    border-radius: 25px;
    float: left;
    width:600px;
    height:600px;  
    margin:100px; 
    padding:30px;
}

